<div class="container m-5">
  <h1>My restaurant list</h1>
  <ol>
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ol>
  <br>
  <a href='restaurants/new'><button type="button" class="btn btn-primary mx-1">Add a new restaurant</button></a>
</div>
